@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .media {
    @apply rounded-tl-3xl rounded-br-3xl shadow-[15px_15px_0] shadow-primary-dark;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply text-light-gray text-lg leading-7;
  }

  .title-text {
    @apply text-2xl text-dark-gray2 font-bold;
  }

  .subtitle-text {
    @apply text-lg text-primary-dark font-medium;
  }
}

/* scroll bar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: aliceblue;
}

::-webkit-scrollbar-thumb {
  background: #610bd9;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #5617ae;
}

/* progress bars */
progress {
  border-radius: 0;
  height: 14px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

progress::-webkit-progress-bar {
  background-color: gainsboro;
  border-radius: 0;
}

progress::-webkit-progress-value {
  background-color: #610bd9;
  border-radius: 0;
}

progress::-moz-progress-bar {
  border-radius: 0;
  height: 1.4rem;
  background-color: gainsboro;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
